@page "/dashboard/users/edit/{Id}"
@using MonitoringDashboard.Components.Shared.CascadingParameters
@using MonitoringDashboard.Components.Shared.User
@layout DashboardLayout
@rendermode InteractiveServer

<AppPageTitle Value="User edit"/>

<h3>Add User</h3>

<UserForm EditUserId="@Id"/>

@code
{
    [Parameter] public string Id { get; set; } = string.Empty;
}
