@using MonitoringDashboard.Data.Models

<div class="grid gap-4">
    @if (ServiceIncidents.Count == 0)
    {
        <span class="text-zinc-400">No incidents found.</span>
    }
    else
    {
        <div class="bg-neutral-800 rounded! shadow-lg border border-zinc-700">
            <table class="w-full">
                <thead>
                <tr class="bg-neutral-900">
                    <th class="py-4 ps-4 text-start">Status</th>
                    <th class="py-4 ps-4 text-start">Monitor</th>
                    <th class="py-4 ps-4 text-start">Cause</th>
                    <th class="py-4 ps-4 text-start">Started</th>
                    <th class="py-4 ps-4 text-start">Ended</th>
                    <th class="py-4 ps-4 text-start">Duration</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var incident in ServiceIncidents)
                {
                    <IncidentCard Incident="incident"/>
                }
                </tbody>
            </table>
        </div>
    }
</div>

@code {

    [Parameter, EditorRequired] public List<Incident> ServiceIncidents { get; set; }

}