@page "/"
@using MonitoringDashboard.Components.Shared
@using MonitoringDashboard.Components.Shared.MonitoredService
@using MonitoringDashboard.Services
@inject ServiceChecker ServiceChecker
@inject IServiceScopeFactory ScopeFactory
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<section class="container mx-auto mt-12">
    <section class="flex justify-between">
        <div>
            <h1 class="text-5xl">Status</h1>
        </div>
        <div>
            <RefreshTimer OnRefresh="StateHasChanged"/>
        </div>
    </section>
    <section class="bg-zinc-800 p-6 rounded-sm mt-4 text-2xl font-bold flex justify-center">
        @if (_failedServicesCount > 0)
        {
            <span>@_failedServicesCount service@(_failedServicesCount > 1 ? "s are" : " is") currently down</span>
        }
        else
        {
            <span>All services are operational</span>
        }
    </section>

    <section class="mt-8">
        <h2 class="text-4xl">Services</h2>
        <NavLink href="/add-monitored-service">Add monitored service</NavLink>
        <div class="flex flex-col gap-y-4 mt-4">
            @foreach (var monitoredService in _monitoredServices)
            {
                <MonitoredServiceCard MonitoredService="monitoredService"/>
            }
        </div>
    </section>
</section>