<div class="w-full bg-yellow-100 p-4">
    <div class="flex items-center gap-x-4">
        <span class="text-3xl">@MonitoredService.Name</span>
        @* <div class="rounded-full w-4 h-4 @(MonitoredService.IsS)"></div> *@
    </div>
</div>