<div>
    <span>@MonitoredService.Name</span>
    <br/>
    <span>@MonitoredService.Url</span>
    <br/>
    <span>Check Interval (seconds): @MonitoredService.CheckIntervalSeconds</span>
    <br/>
    <span>Is Active: @(MonitoredService.IsActive ? "Yes" : "No")</span>
</div>