@using MonitoringDashboard.Components.Shared
@inherits MonitoringDashboard.Components.Shared.MonitoredServiceCardBase
@inject NavigationManager Nav

<div class="bg-zinc-800 p-6 rounded-sm flex justify-between items-center gap-4 shadow-lg border-s-4 @(ServiceUp ? "border-s-green-500" : "border-s-red-500")">
    <div>
        <h2 class="text-2xl font-bold">@MonitoredService.Name</h2>
        @* <span class="text-zinc-400 bg-[hsl(240,4%,20%)] border-[1px] border-zinc-600 px-2 rounded-sm">HTTP</span> *@
        <span class="text-zinc-400">@GetFormattedUptime()</span>
    </div>
    <div class="flex items-center gap-4">
        <ServiceStatusBar Statuses="Statuses" FixedBarWidth="5"/>
        <div class="relative">
            <div @onclick="ToggleContextMenu" class="button-primary !p-1"><Icon Path="icons/ellipsis.svg"/></div>
            <ContextMenu style=@($"display: {(_contextMenuOpen ? "block" : "none")}") Items="_contextMenuItems" OnClose="() => _contextMenuOpen = false" />
        </div>
    </div>
</div>

<Modal @bind-IsOpen="_deleteModalOpen" 
       Title="Delete Service" 
       OnConfirm="HandleDeleteConfirm" 
       ConfirmButtonText="Delete"
       ConfirmButtonClass="bg-red-500 hover:bg-red-600 !text-zinc-100">
    <p>Are you sure you want to delete this service?</p>
</Modal>