@page "/dashboard/services"
@using MonitoringDashboard.Components.Shared
@layout DashboardLayout
@inject IServiceScopeFactory ScopeFactory
@rendermode InteractiveServer

<section>
    <h1 class="text-5xl">Services</h1>
    @* <RefreshTimer OnRefresh="UpdateMonitoredServices"/> *@
    <ul>
        @foreach(var monitoredService in _monitoredServices)
        {
            <li class="my-4"><MonitoredServiceDashboardCard MonitoredService="monitoredService"/></li>
        }
    </ul>
</section>