@page "/login"
@inject IServiceScopeFactory ScopeFactory
@rendermode InteractiveServer

<h3>Login</h3>

<div class="w-96">
    <EditForm FormName="loginForm" Model="_user" OnValidSubmit="HandleLogin" class="flex flex-col gap-4">
        <DataAnnotationsValidator />
        <ValidationSummary />
    
        <div>
            <label for="username">Username</label>
            <InputText id="username" class="input w-full" @bind-Value="_user.Username" />
        </div>
    
        <div>
            <label for="password">Password</label>
            <InputText id="password" type="password" class="input w-full" @bind-Value="_user.Password" />
        </div>
    
        <button type="submit" class="button-primary">Login</button>
    </EditForm>
</div>