@using MonitoringDashboard.Components.Shared.Sidepanel
@inherits LayoutComponentBase

<div class="page">
    <Sidepanel/>
    <main class="ms-[320px] p-8">
        <div class="content max-w-[1400px] mx-auto">
            @Body
        </div>
    </main>
</div>