@using MonitoringDashboard.Helpers
@using MonitoringDashboard.Components.Shared
@inherits LayoutComponentBase

@code {
    private string? _appPageTitle;
}

<CascadingValue Name="SetAppPageTitle" Value="(Action<string?>)(title => _appPageTitle = title)">
    <HeadContent>
        <title>@(string.IsNullOrEmpty(_appPageTitle) ? AppConfig.AppName : $"{_appPageTitle} - {AppConfig.AppName}")</title>
    </HeadContent>
    <div class="page">
        <main>
            <div class="content p-4">
                <Header></Header>
                @Body
            </div>
        </main>
    </div>
</CascadingValue>