@using MonitoringDashboard.Helpers
@using MonitoringDashboard.Services
@* @inject AuthenticationStateProvider AuthStateProvider *@
@inject IUserContextService UserContextService

<header class="container mx-auto mt-6">
    <nav class="flex justify-between items-center #bg-neutral-800 rounded #shadow-lg #border border-zinc-700">
        <div>
            <NavLink Href="/" class="text-4xl">@AppConfig.AppName</NavLink>
        </div>
        <div>
            @if (_isLoggedIn)
            {
                <NavLink Href="/dashboard" class="button-primary">Dashboard</NavLink>
            }
            else
            {
                <NavLink Href="/login" class="button-primary">Log In</NavLink>
            }
        </div>
    </nav>
</header>

@code {
    private bool _isLoggedIn;
    
    protected override async Task OnInitializedAsync()
    {
        _isLoggedIn = await UserContextService.IsLoggedInAsync();
    }
}