<span @attributes="AdditionalAttributes" style="@($"width:{Size}px;height:{Size}px; display:block;")">@((MarkupString)File.ReadAllText($"wwwroot/{Path}"))</span>

@code{
    
    [Parameter] public required string Path { get; set; } = string.Empty;
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter] public int Size { get; set; } = 24;

}