@using MonitoringDashboard.Components.Shared
@using MonitoringDashboard.Components.Shared.Maintenance
@using MonitoringDashboard.Helpers
@inherits MonitoringDashboard.Components.Shared.Maintenance.MaintenanceCardBase

<MaintenanceCard Maintenance="Maintenance">
    <hr class="border-zinc-700 my-4" />
    
    <div class="flex gap-2">
        <NavLink class="button-primary flex items-center gap-2 text-sm font-medium" Href=@($"/dashboard/maintenance/edit/{Maintenance.Id}")>
            <Icon Path="icons/pen.svg" />
            Edit
        </NavLink>

        <button class="button-primary flex items-center gap-2 text-sm font-medium text-red-400 transition-colors"
                @onclick="() => _deleteModalOpen = true">
            <Icon Path="icons/trash-can.svg" />
            Delete
        </button>
    </div>
</MaintenanceCard>

<Modal @bind-IsOpen="_deleteModalOpen" 
       Title="Delete Service" 
       OnConfirm="HandleDeleteConfirm" 
       ConfirmButtonText="Delete"
       ConfirmButtonClass="bg-red-500 hover:bg-red-600 !text-zinc-100">
    <p>Are you sure you want to delete this maintenance?</p>
</Modal>

@code {

    [Parameter] public EventCallback OnDeleted { get; set; }
    
    private bool _deleteModalOpen;
    
    private async Task HandleDeleteConfirm()
    {
        using var scope = ScopeFactory.CreateScope();
        await using var db = scope.ServiceProvider.GetRequiredService<AppDbContext>();
        
        db.Maintenances.Remove(Maintenance);
        await db.SaveChangesAsync();

        if (OnDeleted.HasDelegate) await OnDeleted.InvokeAsync();
    }
    
}