@page "/dashboard/maintenances"
@using MonitoringDashboard.Components.Shared.CascadingParameters
@using MonitoringDashboard.Services
@layout DashboardLayout
@inject IServiceScopeFactory ScopeFactory
@inject IUserContextService UserContextService
@rendermode InteractiveServer

<AppPageTitle Value="Maintenances"/>

<div class="flex justify-between items-center mb-6">
    <h2 class="text-5xl">Scheduled Maintenance</h2>
    @if (_isAdmin || _isUser)
    {
        <NavLink class="button-primary" Href="/dashboard/maintenances/add">
            Add Maintenance
        </NavLink>
    }
</div>

<div class="grid gap-4">
    @if (_maintenances.Count == 0)
    {
        <span class="text-zinc-400">No maintenance events found.</span>
    }
    else
    {
        @foreach (var maintenance in _maintenances)
        {
            <MaintenanceDashboardCard Maintenance="maintenance" @key="maintenance.Id" OnDeleted="LoadMaintenances" />
        }
    }
</div>