<aside class="fixed w-[320px] h-screen bg-neutral-800 p-8">
    <div class="flex flex-col justify-between h-full">
        <ul class="flex flex-col gap-y-4">
            <li>
                <NavLink Href="/" class="text-2xl text-center">Monitoring Dashboard</NavLink>
                <hr class="border border-zinc-700 mt-4"/>
            </li>
            <li><SidepanelButton Text="Services" IconPath="icons/service.svg" Href="/dashboard/services"/></li>
            <li><SidepanelButton Text="Maintenance" IconPath="icons/wrench.svg" Href="/dashboard/maintenance"/></li>
        </ul>
        <div>
            <SidepanelButton Text="Log Out" Href="/logout"/>
        </div>
    </div>
</aside>