<aside class="fixed w-[320px] h-screen bg-zinc-800 p-8">
    <ul class="flex flex-col gap-y-4">
        <li><SidepanelButton Text="Services" IconPath="icons/service.svg" Href="/dashboard/services"/></li>
        <li><SidepanelButton Text="Maintenance" IconPath="icons/wrench.svg" Href="/dashboard/maintenance"/></li>
    </ul>
</aside>