@page "/dashboard/profile"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject IServiceScopeFactory ScopeFactory
@inject NavigationManager Nav
@rendermode InteractiveServer

<h3>Profile</h3>

<EditForm FormName="editUser" Model="ProfileModel" OnValidSubmit="HandleEditProfile" class="flex flex-col gap-4">
    <DataAnnotationsValidator/>
    
    <div class="flex flex-col w-full">
        <label for="username">Username</label>
        <InputText class="input" id="username" @bind-Value="ProfileModel.UserName"/>
    </div>
    
    <div class="flex flex-col w-full">
        <label for="email">E-Mail</label>
        <InputText class="input" id="email" @bind-Value="ProfileModel.Email"/>
    </div>
    
    @* <div class="flex flex-col w-full"> *@
    @*     <label for="password">Password</label> *@
    @*     <InputText class="input" id="password" @bind-Value="_editProfileModel.Password"/> *@
    @* </div> *@
    
    <ul>
        @foreach (var error in _errors)
        {
            <li>@error</li>
        }
    </ul>
    
    <button type="submit" class="input">Update</button>
</EditForm>