name: Publish Docker Image on Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract clean version tag
        id: vars
        run: |
          RAW_TAG="${GITHUB_REF_NAME}"
          CLEAN_TAG="${RAW_TAG#v}"     # strips leading v
          echo "clean_tag=$CLEAN_TAG" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/monitoring-dashboard:${{ steps.vars.outputs.clean_tag }}
            ${{ secrets.DOCKERHUB_USERNAME }}/monitoring-dashboard:latest
