@page "/dashboard/services/edit/{Id:guid}"
@using Microsoft.EntityFrameworkCore
@using MonitoringDashboard.Components.Shared.CascadingParameters
@using MonitoringDashboard.Components.Shared.MonitoredService
@layout DashboardLayout
@inject IServiceScopeFactory ScopeFactory
@inject NavigationManager Nav
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin,User")]

<AppPageTitle Value="Service edit"/>

<h3>Edit Monitored Service</h3>

<MonitoredServiceForm EditMonitoredService="@MonitoredService" EditMode="true"/>