@page "/dashboard/services"
@using MonitoringDashboard.Components.Shared
@using MonitoringDashboard.Components.Shared.MonitoredService
@using MonitoringDashboard.Services
@layout DashboardLayout
@inject IServiceScopeFactory ScopeFactory
@inject IUserContextService UserContextService
@rendermode InteractiveServer

<section>
    <div class="mb-6">
        <div class="flex justify-between items-center">
            <h1 class="text-5xl">Services</h1>
            @if (_isAdmin || _isUser)
            {
                <NavLink class="button-primary" Href="/dashboard/services/add">
                    Add Service
                </NavLink>
            }
        </div>
        <RefreshTimer OnRefresh="UpdateMonitoredServices"/>
    </div>
    <ul>
        @foreach(var monitoredService in _monitoredServices)
        {
            <li class="my-4"><MonitoredServiceDashboardCard 
                                 @key="monitoredService.Id"
                                 MonitoredService="monitoredService"
                                 DisplayUnit="TimeUnit.Hours"
                                 RecentUnitsToShow="24"
                                 OnDeleted="UpdateMonitoredServices"/></li>
        }
    </ul>
</section>