@page "/dashboard/services"
@using MonitoringDashboard.Components.Shared
@layout DashboardLayout
@inject IServiceScopeFactory ScopeFactory
@rendermode InteractiveServer

<section>
    <div class="flex justify-between items-end mb-6">
        <div>
            <h1 class="text-5xl">Services</h1>
            <RefreshTimer OnRefresh="UpdateMonitoredServices"/>
        </div>
        <div>
            <NavLink Href="/dashboard/services/add">Add</NavLink>
        </div>
    </div>
    <ul>
        @foreach(var monitoredService in _monitoredServices)
        {
            <li class="my-4"><MonitoredServiceDashboardCard 
                                 MonitoredService="monitoredService"
                                 DisplayUnit="TimeUnit.Hours"
                                 RecentUnitsToShow="24"
                                 OnDeleted="UpdateMonitoredServices"/></li>
        }
    </ul>
</section>