@page "/dashboard/services/{Id:guid}"
@using MonitoringDashboard.Components.Shared.Incidents
@layout DashboardLayout
@inject IServiceScopeFactory ScopeFactory
@rendermode InteractiveServer

<h1 class="text-5xl">Service</h1>

<IncidentsTable ServiceIncidents="_serviceIncidents" 
                OnPageChanged="(currentPage) => UpdateIncidents(currentPage)"
                OnMaxIncidentsToShowChanged="(maxIncidents) => HandleMaxIncidentsChanged(maxIncidents)"
                TotalIncidentsCount="_totalIncidentsCount"/>