@page "/dashboard/services"
@using MonitoringDashboard.Components.Shared
@using MonitoringDashboard.Components.Shared.MonitoredService
@layout DashboardLayout
@inject IServiceScopeFactory ScopeFactory
@rendermode InteractiveServer

<section>
    <div class="mb-6">
        <div class="flex justify-between items-center">
            <h1 class="text-5xl">Services</h1>
            <NavLink class="bg-blue-600 hover:bg-blue-500 text-white px-4 py-2 rounded" Href="/dashboard/maintenance/add">
                Add Service
            </NavLink>
        </div>
        <RefreshTimer OnRefresh="UpdateMonitoredServices"/>
    </div>
    <ul>
        @foreach(var monitoredService in _monitoredServices)
        {
            <li class="my-4"><MonitoredServiceDashboardCard 
                                 MonitoredService="monitoredService"
                                 DisplayUnit="TimeUnit.Hours"
                                 RecentUnitsToShow="24"
                                 OnDeleted="UpdateMonitoredServices"/></li>
        }
    </ul>
</section>